body{
    background-color: #294d61;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* Navbar Element Css */
.nav_bar{
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
    height:  10vh ; 
    list-style: none;
    top: 0;
}

.active{
    background: linear-gradient(90deg,
    rgba(255, 255, 255, 0.3)0%,
    rgba(255, 255, 255, 0.3)100%);
	} 

    .nav_bar .left .nav_items {
        margin: -22%;
        padding: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
        position: relative;
    }

.nav_bar .right .nav_items {
    margin: 3%;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.nav_bar .nav_items:hover {
    border-bottom: 5px solid #f39f5a;
  }

/* Home Element Css */
.home{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .left {
    width: 650px;
    text-align: justify;
}

.home .left .typedRef{
    color: #f39f5a;
}

.home .left .btn:hover{
    filter: drop-shadow(10px 5px 10px white);
}

.home .right .img img {
    height: 700px;
    width: 700px;
    border-radius: 100%;
}

/* About Element Css */
.about{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: -20vb;
}

.about .abut-right {
    height: 22rem;
    text-align: center;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: -15vb;
}


.about .abut-left .abut-img img {
    height: 700px;
    width: 700px;
    border-radius: 100%;
}

/* Experience Element Css */
.exp{
    width: 900px;
    margin: auto;
}

.ex-items{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 50px;
    border-radius: 20px;
    border: 1px solid;
    padding: 40px;
}

/* Skills Element Css */
.skills{
    width: 900px;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.items .item{
    margin: 20px;
    width: calc(20%);
    background: whitesmoke;
    text-align: center ;
    border-radius: 20px;
    border: 1px solid;
    padding: 30px;
    height: 220px;
}

.items .item img{
    width: 100px;
}

/* Projects Element Css */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.card{
    margin: 20px;
    border-radius: 20px;
    background: whitesmoke;
}

.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

/* Footer Element Css */
.footer{
    bottom: 0;
    width: 100%;
    height: 13.5vh;
    background-color: #f4f1de;
    justify-content: center;
}

.footer .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .contact-item .icons{
    margin: 20px;
    color: black;
}

.footer .contact-item .icons .icon{
    font-size: 2rem;
}

.footer .contact-item .icons .icon:hover{
    color: grey;
}

.footer .rights {
    display: flex;
    justify-content: center;
    align-items: center;
}